@{
    ViewBag.Title = "Home Page";
}

<h2 class="page-header">
    Heading 2 with <code>.page-header</code>
</h2>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <h3>Heading 3</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis nisi pharetra,
            elementum justo ut, lobortis enim. Etiam eu orci eu turpis rutrum eleifend. Donec mauris
            augue, iaculis ut elit non, volutpat commodo dolor. In vulputate lacus vitae suscipit
            pellentesque. Nulla condimentum eleifend dui, a lacinia felis cursus ac. In eleifend nibh
            nec rutrum gravida. Morbi at nisi molestie, lobortis ipsum at, venenatis libero. Etiam
            vitae nisi augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
        </p>
        <h4>Heading 4</h4>
        <p>
            Morbi sit amet est eu massa tincidunt tempor vel ut turpis. Sed vel
            nisi sem. Vestibulum faucibus est id lorem facilisis tristique. Pellentesque non vulputate
            eros, feugiat mattis augue. Maecenas at elit auctor, mattis eros nec, rhoncus justo. Sed
            rutrum pharetra fringilla.
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <h3>Heading 3</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis nisi pharetra,
            elementum justo ut, lobortis enim. Etiam eu orci eu turpis rutrum eleifend. Donec mauris
            augue, iaculis ut elit non, volutpat commodo dolor. In vulputate lacus vitae suscipit
            pellentesque. Nulla condimentum eleifend dui, a lacinia felis cursus ac. In eleifend nibh
            nec rutrum gravida. Morbi at nisi molestie, lobortis ipsum at, venenatis libero. Etiam
            vitae nisi augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
        </p>
        <h4>Heading 4</h4>
        <p>
            Morbi sit amet est eu massa tincidunt tempor vel ut turpis. Sed vel
            nisi sem. Vestibulum faucibus est id lorem facilisis tristique. Pellentesque non vulputate
            eros, feugiat mattis augue. Maecenas at elit auctor, mattis eros nec, rhoncus justo. Sed
            rutrum pharetra fringilla.
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <h3>Heading 3</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis nisi pharetra,
            elementum justo ut, lobortis enim. Etiam eu orci eu turpis rutrum eleifend. Donec mauris
            augue, iaculis ut elit non, volutpat commodo dolor. In vulputate lacus vitae suscipit
            pellentesque. Nulla condimentum eleifend dui, a lacinia felis cursus ac. In eleifend nibh
            nec rutrum gravida. Morbi at nisi molestie, lobortis ipsum at, venenatis libero. Etiam
            vitae nisi augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
        </p>
        <h4>Heading 4</h4>
        <p>
            Morbi sit amet est eu massa tincidunt tempor vel ut turpis. Sed vel
            nisi sem. Vestibulum faucibus est id lorem facilisis tristique. Pellentesque non vulputate
            eros, feugiat mattis augue. Maecenas at elit auctor, mattis eros nec, rhoncus justo. Sed
            rutrum pharetra fringilla.
        </p>
    </div>
</div>

