
@{
    ViewBag.Title = "Login";
    Layout = "/Views/Shared/_LayoutSans.cshtml";
}

@section scripts
{
}

<div class="container">

    <form class="form-signin">
        <h2 class="page-header text-center">
            <i class="fa fa-desktop"></i>
            @AppSettings.Title
        </h2>
        <h3 class="form-signin-heading text-center">
            <i class="fa fa-unlock-alt"></i>
            Please sign in
        </h3>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required />
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Keep me signed-in after I close my browser
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="@Url.Action("forgotpassword", "account")" class="btn btn-link btn-block">Forgot password?</a>
    </form>

</div> <!-- /container -->